@model RegisterViewModel

<div class="row">
    <div class="col-12">
        <h1 class="h4">Register</h1>
        <form action="Register" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="mb-3">
        <label asp-for="Name" class="form-label">Full Name</label>
        <input asp-for="Name" class="form-control">
        <div asp-validation-for="Name" class="text-danger"></div>
        </div>

          <div class="mb-3">
        <label asp-for="UserName" class="form-label">UserName</label>
        <input asp-for="UserName" class="form-control">
        <div asp-validation-for="UserName" class="text-danger"></div>
        </div>

          <div class="mb-3">
        <label asp-for="Email" class="form-label">Email Address</label>
        <input asp-for="Email" class="form-control">
        <div asp-validation-for="Email" class="text-danger"></div>
        </div>

          <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control">
        <div asp-validation-for="Password" class="text-danger"></div>
        </div>

         <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control">
        <div asp-validation-for="ConfirmPassword" class="text-danger"></div>
        </div>
          <button type="submit" class="btn btn-outline-danger">Register</button>
        </form>
    </div>
</div>