 @model List<Tag>
 <div class="card mb-4">
                <div class="card-header">
                 <div class="card-title">Tags</div>
                </div>
                <div class="card-body">
                    <ul class="list-inline d-flex flex-wrap gap-2">
                        @foreach(var tag in Model) {
                           <li class="list-inline-item">
                            <a href="/posts/tag/@tag.TagUrl" class="btn btn-outline-secondary btn-sm">@tag.TagText</a>
                           </li>
                        }
                    </ul>
                </div>
            </div>