@model Post

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.PostTitle</h1>
            <div class="tags">
             <a href="#" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">Lebron James</a>
              <a href="#" class="badge bg-danger bg-opacity-10 text-primary mb-2 fw-bold">Sports</a>
            </div>
            <img src="~/img/@Model.PostImage" class="img-fluid rounded" alt="">
            <div>@Model.PostContet</div>
        </div>
    </div>
    <div class="col-lg-4">
           <vc:tags-menu></vc:tags-menu>
           <vc:new-posts></vc:new-posts>
            
    </div>
</div>