@model PostCreateViewModel

<div class="row">
    <div class="col-12">
        <h1 class="h4">Edit Post</h1>
        <form action="Edit" method="post">
        <input type="hidden" asp-for="PostId">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
        <label asp-for="PostTitle" class="form-label"></label>
        <input asp-for="PostTitle" class="form-control">
        <span asp-validation-for="PostTitle" class="text-danger"></span>
        </div>

          <div class="mb-3">
        <label asp-for="PostContet" class="form-label"></label>
        <input asp-for="PostContet" class="form-control">
        <span asp-validation-for="PostContet" class="text-danger"></span>
        </div>

          <div class="mb-3">
        <label asp-for="PostExp" class="form-label"></label>
        <textarea asp-for="PostExp" class="form-control" rows="4"></textarea>
        <span asp-validation-for="PostExp" class="text-danger"></span>
        </div>

          <div class="mb-3">
        <label asp-for="PostUrl" class="form-label"></label>
        <input asp-for="PostUrl" class="form-control">
        <span asp-validation-for="PostUrl" class="text-danger"></span>
        </div>

        @if(User.FindFirstValue(ClaimTypes.Role) == "admin") {
            <div class="form-check mb-3">
            <input asp-for="isActive" class="form-check-input">
            <label asp-for="isActive" class="form-check-label"></label>
            </div>
        }

       <button type="submit" class="btn btn-outline-danger">Create</button>
        </form>
    </div>
</div>